name: API CI

on:
  pull_request:
    paths:
      - "apps/api/**"
      - ".github/workflows/api-ci.yml"
      - "pyproject.toml"
  push:
    branches: ["main"]
    paths:
      - "apps/api/**"
      - ".github/workflows/api-ci.yml"
      - "pyproject.toml"

jobs:
  lint-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: apps/api

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3:12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest ruff

      - name: Ruff lint
        run: |
          ruff check .

      - name: Run tests
        env:
          #Dummy values
          DATABASE_URL: postgresql+psycopg://user:pass@localhost:5432/db
          REDIS_URL: redis://localhost:6379/0
          CORS_ORIGINS: http://localhost:5173
          OPEN_AQI_BASE: https://api.openaq.org/v3
          OPEN_AQI_KEY: ""
          OPENMETEO_BASE: https://api.open-meteo.com/v1
        run: |
          pytest -q

  docker-build:
    runs-on: ubuntu-latest
    needs: lint-test

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build API Docker image
        run: |
          docker build -t airwatch-api:ci -f apps/api/Dockerfile apps/api
